/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --primary-hover: #0d8a63;
  --secondary: #f1f1f1;
  --error: #e7195a;
  --delete: #e31657;
  --delete-hover: #9a0937;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}


header .container {
  position: fixed;
  grid-area: header;
  top: 0;
  left: 0;
  width: 150%;
  z-index: 100;
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
  text-align: center;
  max-width: auto;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto auto auto;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 80%;
  padding: 20px;
  margin: 6% auto;
}

/* MANAGE TA PAGE */
.tutorial-form {

  background: #e9e0e0;
  width: 80%;
  height: fit-content;
  border-radius: 1px;
  margin: auto;
  padding: 5px, 0px, 5px, 0px;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);

}

.tutorial-form-input {
  vertical-align: middle;
  text-align: center;
  height: 20px;
  width: 100px;
  margin: 0 0 5px 0;
  font-size: 0.9em;
  color: #555;
  padding: 4px 0;
  z-index: -5;
  font-weight: bold;
  color: #ff0051;
}

.tutorial-form-label {
  text-align: center;
  height: 5%;
  width: 100%;
  margin: 0 0 5px 0;
  font-size: 0.9em;
  color: white;
  background-color: #1aac83;
  transform: translate(0, -10px);
}

.tutorial-form-button {
  position: 'aboslute';
  float: right;
  display: inline;
}

.AssignTA-button {
  width: 50%;
  position: relative;
  height: 10%;
  background: var(--primary);
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
}



/* TA PROFILE PAGE */
.teacherAssitantProfile {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
}

.teacherAssistantsProfileHeader h1 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary-hover);
}

.teacherAssistantsProfileHeader p {
  margin: 0 0 10px 0;
  color: var(--primary);
}

.teacherAssistantsProfileBody p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding: 5px 0;
  color: #0d8a63;
}

.teacherAssistantsProfileBody h2 {
  border: 1px solid black;
  padding: 1px;
  text-align: center;

}

.teacherAssistantsProfileBody tr,
th,
td {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
}

.teacherAssistantsProfileHeader {
  grid-area: header;
  background: #fff;
  border-radius: 4px;
  margin: 2% auto;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  text-align: left;
  width: 90%;
  transform: translate(10vh, 0);
}

.teacherAssistantsProfileBody {
  grid-area: main;
  background: #fff;
  border-radius: 4px;
  margin: 2% auto;
  padding: 5px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  text-align: left;
  width: 90%;
  transform: translate(10vh, 0);
}

.teacherAssistantsProfileBody table {
  background: #f2f2f2;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.teacherAssistantsProfileBodyTableButton {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}

.teacherAssistantsProfileBodyTableButton:hover {
  background-color: var(--primary-hover)
}

.teacherAssistantsProfileBodyTableSelect {
  background: #f2f2f2;
  border: 0.5px solid black;
  font-size: 0.9em;
  color: #555;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px solid black;
  cursor: pointer;
  width: 50px;
}



.tableDelete {
  position: absolute;
  top: 26px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.displayTable {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.displayTable tr,
th,
td {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
}

.displayTable table {
  background: #f2f2f2;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  padding: 5px 0;
}

/* homepage */
.manageTeacherAssistants {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
}

.teacherAssistants {
  grid-area: main;
  margin: 10%;

}

.TAform {
  grid-area: right;
  background: #fff;
  border-radius: 4px;
  margin: 20%;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  vertical-align: top;
  height: 100vh auto;

}

.teacherassistant-details {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  margin: 2% auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.teacherassistant-details h2 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.teacherassistant-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding: 5px 0;
}

.teacherassistant-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.teacherassistant-details tr,
th,
td {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
}

.teacherassistant-details table {

  background: #f2f2f2;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  padding: 5px 0;
}

.teacherassistant-details-label {
  margin: 0 0 5px 5px;
  font-size: 0.9em;
  color: #555;
  padding: 5px 0;
}

.teacherassistant-details-input {
  vertical-align: middle;
  text-align: center;
  height: 20px;
  width: 200px;
  margin: 5px 5px 3px 5px;
  font-size: 0.9em;
  color: #555;
  padding: 4px 4px;
  z-index: -5;
  font-weight: bold;
  color: #ff0051;
}

.teacherassistant-details-form {
  padding: auto;
}

.updateButtonToggle {
  background: orange;
  border: 0;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.updateButtonToggle:hover {
  background-color: rgb(221, 144, 0);
}

.updateFormButton {
  background: var(--primary);
  border: 0;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* new Teacher Assistant form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.buttonIn {
  width: 650px;
  position: relative;
}

.input-field {
  font-family: "Poppins";
  text-indent: 10px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 40px;
  border-radius: 5px;
}

.input-button {
  text-align: center;
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 5;
  border: none;
  top: 2px;
  width: 90px;
  height: 36px;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  transform: translateX(-2px);
}

.coursesTeachingButton {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
}

.coursesTeachingButton:hover {
  background-color: var(--primary-hover)
}

.deleteButton {
  background: var(--delete);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
}

.deleteButton:hover {
  background-color: var(--delete-hover)
}

.submitButton {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;

}

.submitButton:hover {
  background-color: var(--primary-hover)
}

.create {

  background: #fff;
  border-radius: 20px;
  margin: 20px auto;
  padding: 30px;
  position: static;
  min-width: 40%;
  max-width: fit-content;
  align-self: baseline;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);


}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.imageHolder {
  width: 130px;
  height: 60px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login {
  height: 100vh;
  width: 100%;
  background-image: url(./images/LogImage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.loginForm {
  padding: 10vh 0 0 0;
}

/* Popup style */